/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.slider-title{
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    margin: 200px 0;
    
   
}

.title1{
    color:#2125299a ;
}
.title2{
    color:#212529cd ;
}
.title3{
    color:#0590bfc2 ;
}
.title4{
    color:#bb430cd9;

}

.slogan{
    color: #FF681A;
}

.offer-img{
    opacity: 1.5;
   
}
.offer-section{
    background: url('https://i.ibb.co/68kM2nB/bungee-offer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(247, 152, 28, 0.679);
}
.discount-price{
    font-family: 'Shadows Into Light', cursive;
    font-size: 300px;
    color: whitesmoke;
}
.offer-brief{
    text-align: start;
    color: whitesmoke;
}